<div class="bg-light text-dark nav-bar">
  <div class="container d-flex justify-content-between mb-1">

    <div class="d-flex"> 
      <img src="../../../assets/images/argentina_programa.jpg" class="m-1"alt="logo argentina programa" style="height: 40px;">
      <h5 class="d-flex align-items-center">#YO PROGRAMO</h5>
    </div>
    <div class="social_media">
        <a href="#" class="p-2"><i class="fab fa-facebook-square"></i></a>
        <a href="#"class="p-2"><i class="fab fa-instagram"></i></a>
        <a href="#"class="p-2"> <i class="fab fa-twitter"></i></a>
        <button *ngIf="!isUserLogged" routerLink="/login" type="button" class="btn btn-outline-success p-2 m-1">Login</button>
        <button *ngIf="isUserLogged"  routerLink="/logout" type="button" class="btn btn-outline-success p-2 m-1" (click)="logout()">Logout</button>
    </div>
  </div>  
</div>