
<div class="card">
    <div class="experiencia d-flex justify-content-between">
        <h2>Experiencia</h2>
        <i class="fas fa-plus"></i>
    </div>
    <ul>
        <li>
            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <img class="institucion" src="https://images.unsplash.com/photo-1595426512134-28b0ffe4b340?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80" alt="Logo" class="img-logo">
                    <div class="pl-2">
                        <h4>Backend Developer</h4>
                        <p>Pixar Jornada parcial</p>
                        <p>   mar 2019-actualidad-2 años y 6 meses</p>
                        <p>Guadalajara y alrededores, Mexico</p>
                    </div>
                </div>    
                <div>
                    <i class="fas fa-pen align-self-end pb-3 "></i>
                    <i class="far fa-trash-alt"></i>
                </div>
            </div>
        </li>
    </ul>

    <div class="d-flex justify-content-between">
        <h2>Educacion</h2>
        <i class="fas fa-plus"></i>
    </div>
    <ul>
        <li *ngFor="let educacion of educacionList">
            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <img [src]="educacion.img" alt="Logo" class="img-logo">
                    <div class="info-estudios">
                        <h4>{{educacion.school}}</h4>
                        <p>{{educacion.career}}</p>
                        <p> {{educacion.start}}</p><p>{{educacion.end}}</p>
                
                    </div>
                </div>    
                <div>
                    <i class="fas fa-pen align-self-end pb-3 "></i>
                    <i class="far fa-trash-alt"></i>
                </div>
            </div>
        </li>
       
    </ul>
</div>