<div class="header border" style="height:780px;">
    <img class="img-fondo" [src]="miPortfolio.backimage" alt="Imagen fondo">
    <div class="datos-personales">
        <div class="d-flex p-2">
            <img class="rounded-circle avatar img-avatar ml-2 " [src]="miPortfolio.image" alt="" >
            <i class="fas fa-pen align-self-end pb-3 "></i>

        </div>
    
        <div class="p-1 d-flex justify-content-between ml-3">
            <div>
                <h2>{{miPortfolio.name}}</h2>
                <p>{{miPortfolio.position}}</p>
                <p>{{miPortfolio.ubication}} <a href="#">Informacion de contacto</a> </p>
                <div class="d-flex">
                    <button type="button"class="btn btn-primary">Tengo interes en</button>
                    <button type="button" class="btn btn-light ml-2">Añadir Seccion</button>
                    <button type="button" class="btn btn-light ml-2">Mas</button>
                </div>
            </div>    
            <div class="mt-5 mr-3">
                <div class="d-flex">
                    <img class="logo-encabezado" [src]="primeraExperiencia.img" alt="">
                    
                    <p class= "mt-2 mb-0">{{primeraExperiencia.company}}</p>                       
                </div>
                <div class="d-flex">
                    <img class="logo-encabezado" [src]="primeraEducacion.img" alt="Logo universidad">
                    <p class= "mt-2 mb-0" >{{primeraEducacion.school}}</p>
                </div>    
            </div>
        </div>
    </div>
</div>    


