<div class="header border" style="height:780px;">
    <img class="img-fondo" src="https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80" alt="Imagen fondo">
    <div class="datos-personales">
        <div class="d-flex p-2">
            <img class="rounded-circle avatar img-avatar ml-2 " src="../../../assets/images/perfil.jpg" alt="" >
           

        </div>
       
   
        <div class="p-1 d-flex justify-content-between ml-3">
            <div>
               <h2 class="m-0">{{miPortfolio.nombre}}, {{miPortfolio.apellido}}</h2>
               <h6>{{primeraEducacion.title}} </h6>
               <h6>{{primeraExperiencia.puesto}} {{primeraExperiencia.nombre_empresa}}</h6>
                <p>{{miPortfolio.domicilio}}
              
                <div class="d-flex">
                    <button type="button"class="btn btn-primary">Tengo interes en</button>
                    <button type="button" class="btn btn-light ml-2">Informacion de contacto</button>

                </div>
            </div>    
            <div class="mt-5 mr-3">
               
                <div class="d-flex">
                    <img class="logo-encabezado" src="../../../assets/images/{{primeraExperiencia.url_logo}}" alt="Logo experiencia">
                    
                    <p class= "mt-2 mb-0">{{primeraExperiencia.nombre_empresa}}</p>                       
                </div>
                <div class="d-flex">
                    <img class="logo-encabezado" src="../../../assets/images/{{primeraEducacion.img}}" alt="Logo universidad">
                    <p class= "mt-2 mb-0" >{{primeraEducacion.school}}</p>
                </div> 
               
                
            </div>
        </div>
        
    </div>
</div>    


