<div class="card ">
    <div class="d-flex justify-content-between">
        <h2>Acerca de</h2>
        <div class="btn-edit" onclick="cambiar_parrafo()">
            <a href="#">
            <i class="fas fa-pen align-self-end pb-3 "></i>    
            </a>    
        </div>    
    </div>
    <div>
        <p id="text-acercade">Recibido de Contador Publico, emprendedor (Poseo mi propio emprendimiento) y enfocandome en el mundo de la programacion</p>
    </div>
    <div>
        <input type="text" id="edit-acercade" oninput="myFunction2(this.value)" style="display:none;">
    </div>    
</div>